<p>A popup with buttons.</p>
<button class="ajax_popup_button" ajax-url="{{ path('simple') }}">Open an other popup</button>
<button class="ajax_popup2_button" ajax-url="{{ path('popup2') }}">A popup inside an other AjaxPopup instance.</button>
